@page "/inventory/create"
@using HomeInventory.shared.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient http
@inject NavigationManager Navigation
@attribute [Authorize]
<h3>create</h3>

<div class="mb-3">
    <label>Name:</label>
    <InputText @bind-Value="tmpName" class="form-control" />
</div>

<div class="mb-3">
    <label>Email:</label>
    <InputText @bind-Value="tmpDesc" class="form-control" />
</div>

<button type="submit" class="btn btn-primary" @onclick="CreateInventory">Submit</button>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    string? tmpName, tmpDesc;

    string userId = "";

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;
            userId = user?.Claims.FirstOrDefault(a => a.Type == "sub")?.Value ?? "";
        }
    }

    private async Task CreateInventory()
    {
        Inventory inv = new()
        {
            Name = tmpName,
            Description = tmpDesc,
            Owner = userId,
        };
        var hi = await http.PostAsJsonAsync("/api/Inventory/", inv);
        Navigation.NavigateTo("/inventory");
    }
}
