@page "/inventory"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HomeInventory.shared.Models
@inject HttpClient http
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<h3>@userId</h3>

<p>
    <button @onclick="CreateInv">Create inventory</button>
</p>

<QuickGrid Class="table" Items="userInvs">
    <PropertyColumn Property="inventory => inventory.Name" />
    <PropertyColumn Property="inventory => inventory.Description" />
    <PropertyColumn Property="inventory => inventory.Owner" />
    <PropertyColumn Property="inventory => inventory.CreatedAt" />
    <PropertyColumn Property="inventory => inventory.LastModifiedAt" />

    <TemplateColumn Context="inventory">
        <a href="@($"inventory/edit/{inventory.Id}")">Edit</a> |
        <button class="btn btn-sm btn-primary" @onclick='() => Navigation.NavigateTo($"/inventory/{inventory.Id}/products")'>Products</button> |
        <button @onclick="(()=>DeleteInv(inventory.Id))">Delete</button>
    </TemplateColumn>
</QuickGrid>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    IQueryable<Inventory>? userInvs;
    string userId = "";

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;
            userId = user?.Claims.FirstOrDefault(a => a.Type == "sub")?.Value ?? "";
        }

        var hi = await http.GetFromJsonAsync<IEnumerable<Inventory>>($"/api/users/{userId}/inventories");
        userInvs = hi?.AsQueryable();
    }

    private void CreateInv()
    {
        Navigation.NavigateTo($"/inventory/create/");
    }
    
    private async Task DeleteInv(Guid id)
    {
        var deletedResponse = await http.DeleteAsync($"/api/Inventory/{id}");
        if(deletedResponse.IsSuccessStatusCode)
        {
            var hi = await http.GetFromJsonAsync<IEnumerable<Inventory>>($"/api/users/{userId}/inventories");
            userInvs = hi?.AsQueryable();
            StateHasChanged();
        }
    }
}
