@page "/counter"
@inject HttpClient http
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h3>testauthapi</h3>

<button class="button" @onclick="getinfo">  "Button" </button>

<h1>@hi</h1>

@code {

    string hi = "";

    async Task getinfo()
    {
        hi = await http.GetStringAsync("/hi");
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
